<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>编辑(员)</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/base.css">
    <link rel="stylesheet" type="text/css" href="css/reserve.css">
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/Validform_v5.3.2_min.js"></script>
    <script src="js/register.js"></script>
    <script src="js/reserve.js"></script>
</head>
<body>
<!--head start-->
<div class=" clearfix head">
    <div class="wrap">
        <div class="fl fs30 white mr30">酒店管理系统</div>
        <ul class="fl white fs16 ml10">
            <li class="fl p5"><a href="index.html">首页</a></li>
            <li class="fl p5"><a href="reserve0.html">酒店预订</a></li>
            <li class="fl p5"><a class="cur" href="reserve22.html">订房信息</a></li>
            <li class="fl p5"><a href="management.html">用户管理</a></li>
            <li class="fl p5"><a href="liuyan1.html">留言板</a></li>
            <li class="fl p5"><a href="checkOut.html">退房</a></li>
        </ul>
        <div class="fl clearfix ml40 ">
            <a class="pr10 green" href="#">王亚苹</a>|<a class="pl10 white " href="index.html">退出</a>
        </div>
    </div>
</div>
<!--head end-->
<div class="conBox wrap">
    <p class="blue ml20 fs16">编辑资料：</p>
    <table class="table1 table2" cellpadding="0" cellspacing="1">
        <thead>
            <td class="alignM" width="9%">编 号</td>
            <td class="alignM">类型</td>
            <td class="alignM" width="8%">面积/平米</td>
            <td class="alignM" width="8%">价格/元</td>
            <td class="alignM" width="8%">姓名</td>
            <td class="alignM" width="8%">电话</td>
            <td class="alignM" >证件号</td>
            <td class="alignM" width="8%">入住日期</td>
            <td class="alignM" width="8%">离开日期</td>
            <td class="alignM" width="8%">接待人员</td>
            <td class="alignM" width="8%">提交</td>
        </thead>
        <tbody>
            <tr>
                <td class="alignM" >1</td>
                <td class="alignM" contenteditable="true">商务型</td>
                <td class="alignM" contenteditable="true">30</td>
                <td class="alignM" contenteditable="true">99</td>
                <td class="alignM " contenteditable="true">王亚苹</td>
                <td class="alignM" contenteditable="true">15010238227</td>
                <td class="alignM" contenteditable="true">130322199302986538</td>
                <td class="alignM" contenteditable="true">15/4/3</td>
                <td class="alignM" contenteditable="true">15/4/4</td>
                <td class="alignM" contenteditable="true">张平</td>
                <td class="alignM sure"><a href="reserve22.html">确定</a></td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>