<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>留言</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/base.css">
    <link rel="stylesheet" type="text/css" href="css/liuyan.css">
    <script src="js/jquery-1.8.3.min.js"></script>
</head>
<body>
<!--head start-->
<div class=" clearfix head">
    <div class="wrap">
        <div class="fl fs30 white mr30">酒店管理系统</div>
        <ul class="fl white fs16 ml10">
            <li class="fl p5"><a href="index.html">首页</a></li>
            <li class="fl p5"><a href="reserve0.html">酒店预订</a></li>
            <li class="fl p5"><a href="reserve22.html">订房信息</a></li>
            <li class="fl p5"><a href="management.html">用户管理</a></li>
            <li class="fl p5"><a class="cur" href="#">留言板</a></li>
            <li class="fl p5"><a href="checkOut.html">退房</a></li>
        </ul>
        <div class="fl clearfix ml40 ">
            <a class="pr10 green" href="#">王亚苹</a>|<a class="pl10 white " href="index.html">退出</a>
        </div>
    </div>
</div>
<!--head end-->
    <!--<form class="liu wrap mt20 p10">
        <p>
            <textarea class="fs14" cols="120" rows="3" name="liuyan" placeholder="说点什么吧:"></textarea>
            <a href="#" class="con org">评论</a>
        </p>
    </form>-->
    <div class="wrap">
        <ul>
            <li class="item mt15  p10">
                <div class="clearfix">
                    <span class="fl gray fs16">张三</span>
                    <span class="fr">15年3月10日</span>
                </div>
                <p class="mt10">价钱便宜，房间比较宽敞，总体非常满意，下次还订你们家！</p>
                <p class="clearfix"><a href="#" class="fr red">删除</a></p>
            </li>
            <li class="item mt15  p10">
                <div class="clearfix">
                    <span class="fl gray fs16">张四</span>
                    <span class="fr">15年3月11日</span>
                </div>
                <p class="mt10">价钱便宜，房间比较宽敞，总体非常满意，下次还订你们家！</p>
                <p class="clearfix"><a href="#" class="fr red">删除</a></p>
            </li>
            <li class="item mt15  p10">
                <div class="clearfix">
                    <span class="fl gray fs16">张五</span>
                    <span class="fr">15年3月12日</span>
                </div>
                <p class="mt10">价钱便宜，房间比较宽敞，总体非常满意，下次还订你们家！</p>
                <p class="clearfix"><a href="#" class="fr red">删除</a></p>
            </li>
        </ul>

    </div>
</body>
</html>