<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>入住登记</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/base.css">
    <link rel="stylesheet" type="text/css" href="css/reserve.css">
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/Validform_v5.3.2_min.js"></script>
    <script src="js/register.js"></script>
</head>
<body>
<!--head start-->
<div class=" clearfix head">
    <div class="wrap">
        <div class="fl fs30 white mr30">酒店管理系统</div>
        <ul class="fl white fs16 ml10">
            <li class="fl p5"><a href="index.html">首页</a></li>
            <li class="fl p5"><a class="cur" href="reserve0.html">酒店预订</a></li>
            <li class="fl p5"><a href="#">订房信息</a></li>
            <li class="fl p5"><a href="management.html">用户管理</a></li>
            <li class="fl p5"><a href="liuyan.html">留言板</a></li>
            <li class="fl p5"><a href="checkOut.html">退房</a></li>
        </ul>
        <div class="fl clearfix ml40 ">
            <a class="pr10 green" href="#">王亚苹</a>|<a class="pl10 white " href="index.html">退出</a>
        </div>
    </div>
</div>
<!--head end-->
<!--banner start-->
<div class="banner  center ">
    <a href="#"><img src="images/banner1.jpg"></a>
</div>
<!--banner end-->
<div class="mt15 wrap">
    <div class="fl reserve">
        <p>客房分类</p>
        <ul class="classify">
            <li><a href="reserve.html" class="fl">商务型</a></li>
            <li><a href="meeting.html" class="fl">会议型</a></li>
            <li><a href="economic.html" class="fl">经济型</a></li>
            <li><a href="quick.html" class="fl">快捷型</a></li>
        </ul>
        <p>工作时间</p>
        <ul class="time">
            <li>周一至周五：8:30-20:00</li>
            <li>周六至周日：9:00-21:00</li>
        </ul>
        <p>酒店电话</p>
        <ul class="time">
            <li>15010238227</li>
        </ul>
    </div>
    <div class="fr success success1">
        <h3 class="blue">在线预订:<span class="ml10 fs14">15010238227</span></h3>
        <h4>您的信息:</h4>
        <p>请仔细填写，以确保我们能更好的为您服务</p>
        <form method="post">
            <p>
                <label class="mr10">预订数量:</label>
                <input type="text">
            </p>
            <p>房间类型：<spana>商务型</spana></p>
            <p>
                <label class="mr10">入住日期:</label>
                <input type="date" name="user_date"  value="入住日期"/>
            </p>
            <p>
                <label class="mr10">离店日期:</label>
                <input type="date" name="user_date" />
            </p>
            <p>
                <label class="mr10">客人姓名:</label>
                <input type="text">
            </p>
            <p>
                <label class="mr10">客人电话:</label>
                <input type="text">
            </p>
            <p>
                <label class="mr10">有效证件:</label>
                <input type="text">
            </p>
            <p>
                <label class="mr10">接待人员:</label>
                <input type="text">
            </p>
            <p>
                <label class="mr10">缴纳费用:</label>
                <input type="text">
            </p>
            <p>
                <label class="mr10">房间号码:</label>
                <input type="text">
            </p>
            <p class="center">
                <a href="reserve22.html" class="button">立即下订单</a>
            </p>
        </form>
    </div>
</div>
</body>
</html>