<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>酒店管理系统</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/base.css">
    <link rel="stylesheet" type="text/css" href="css/reserve.css">
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/Validform_v5.3.2_min.js"></script>
    <script src="js/register.js"></script>
</head>
<body>
<!--head start-->
<div class=" clearfix head">
    <div class="fl fs30 white mr30">酒店管理系统</div>
    <ul class="fl white fs16 ml10">
        <li class="fl p5"><a class="cur" href="#">首页</a></li>
        <li class="fl p5"><a href="reserve.html">酒店预订</a></li>
        <li class="fl p5"><a href="reserve2.html">订房信息</a></li>
        <li class="fl p5"><a href="liuyan1.html">留言板</a></li>
        <li class="fl p5"><a href="contact.html">联系我们</a></li>
    </ul>
    <div class="fl clearfix ml40 ">
        <a class="pr10 green" href="login.html">登录</a>|<a class="pl10 white " href="register.html">免费注册</a>
    </div>
</div>
<!--head end-->
<!--banner start-->
<div class="banner  center ">
    <a href="#"><img src="images/banner1.jpg"></a>
</div>
<!--banner end-->
<div class="mt15 wrap">
    <div class="fl reserve">
        <p>客房分类</p>
        <ul class="classify">
            <li><a href="reserve.html" class="fl">商务型</a></li>
            <li><a href="meeting.html" class="fl">会议型</a></li>
            <li><a href="economic.html" class="fl">经济型</a></li>
            <li><a href="quick.html" class="fl">快捷型</a></li>
        </ul>
        <p>工作时间</p>
        <ul class="time">
            <li>周一至周五：8:30-20:00</li>
            <li>周六至周日：9:00-21:00</li>
        </ul>
        <p>酒店电话</p>
        <ul class="time">
            <li>15010238227</li>
        </ul>
    </div>
    <div class="fr xiang ">
        <h2 class="fs16">服务项目</h2>
        <p class="pre">当前条件：快捷型</p>
        <div class="clearfix">
            <img class="fl mt15 ml15" src="images/2.png">
            <div class="fl ml40">
                <div class="org price mb10 mt15">￥<span>447</span></div>
                <p><a href="#"><span class="org">364</span>条点评</a></p>
                <p>客房面积：34/平方米</p>
                <p class="org">剩余房间数：6间</p>
                <p>使用时间&nbsp&nbsp24小时接待</p>
                <p>预约提示&nbsp&nbsp请至少提前一天致电预约</p>
                <p class="org">预约电话：15010238227</p>
                <div class="qiang center mt15"><a class="white" href="reserve.html">抢购</a></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>