<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>酒店管理系统</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/base.css">
    <link rel="stylesheet" type="text/css" href="css/reserve.css">
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/Validform_v5.3.2_min.js"></script>
    <script src="js/register.js"></script>
</head>
<body>
<!--head start-->
<!--head start-->
<div class=" clearfix head ">
    <div class="wrap">
        <div class="fl fs30 white mr30">酒店管理系统</div>
        <ul class="fl white fs16 ml10">
            <li class="fl p5"><a href="#">首页</a></li>
            <li class="fl p5"><a href="reserve.html">酒店预订</a></li>
            <li class="fl p5"><a class="cur" href="reserve2.html">订房信息</a></li>
            <li class="fl p5"><a href="liuyan.html">留言板</a></li>
            <li class="fl p5"><a href="contact.html">联系我们</a></li>
        </ul>
        <div class="fl clearfix ml40 ">
            <a class="pr10 green" href="login.html">登录</a>|<a class="pl10 white " href="register.html">免费注册</a>
        </div>
    </div>

</div>
<!--head end-->
<!--banner start-->
<div class="banner  center ">
    <a href="#"><img src="images/banner1.jpg"></a>
</div>
<!--banner end-->
<div class="mt15 wrap">
    <div class="fl reserve">
        <p>客房分类</p>
        <ul class="classify">
            <li><a href="#">商务型</a></li>
            <li><a href="#">会议型</a></li>
            <li><a href="#">经济型</a></li>
            <li><a href="#">快捷型</a></li>
        </ul>
        <p>工作时间</p>
        <ul class="time">
            <li>周一至周五：8:30-20:00</li>
            <li>周六至周日：9:00-21:00</li>
        </ul>
        <p>酒店电话</p>
        <ul class="time">
            <li>15010238227</li>
        </ul>
    </div>
    <div class="fr success">
        <h3 class="blue">在线预订:<span class="ml10 fs14">15010238227</span></h3>
        <h4>您的信息:</h4>
        <div class="mt20">
            <p>预订数量:<span>1</span></p>
            <p>房间类型:<span>商务型</span></p>
            <p>入住日期:<span>15/4/10</span></p>
            <p>离店日期:<span>15/4/11</span></p>
            <p>客人姓名:<span>王亚苹</span></p>
            <p>客人电话:<span>12378909997</span></p>
        </div>
        <div class="org">恭喜您，订单成功！</div>
    </div>
</div>
</body>
</html>